*,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 400px;
  top: 40px;
  left: 35%;
  color: #ffffff;
}

img {
  width: 400px;
  border-radius: 5px 5px 0px 0px;
}

h1 {
  font-family: Lobster;
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 15px;
  line-height: 150%;
}

.description {
  background-color: #283e50;
}

.button1,
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  font-family: sans-serif;
}

.button1 {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.button1:hover {
  background-color: #1cbb96;
}

.button2 {
  background-color: #0197f6;
}

.button2:hover {
  background-color: #0090e9;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #ffffff;
}

/* game - second part */

.game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "lobster", sans-serif;
  margin: auto;
}

.game-main-title {
  font-family: Lobster;
  font-weight: lighter;
  color: #ffffff;
  font-size: 60px;
  margin: 5px 0 5px 0;
  margin-bottom: -22px;
}

.game-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80vmin;
  align-items: baseline;
  margin-bottom: 10px;
  margin-bottom: -22px;
}

.game-player-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  left: -17px;
}

.title-button {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  padding-right: 10px;
  font-weight: bolder;
}

#nowPlayer {
  width: 5vmin;
  height: 5vmin;
  filter: invert(100%);
  background-color: none;
}

.game-buttons {
  display: flex;
  flex-basis: 50%;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-button-home {
  width: 40px;
  height: 40px;
  background-color: #1fcca4;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #5b579e;
}

.game-button-home:hover {
  background-color: #1cbb96;
}

.game-button-restart {
  width: 40px;
  height: 40px;
  background-color: #0197f6;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #5b579e;
}

.game-button-restart:hover {
  background-color: #0090e9;
}

.grid {
  display: grid;
  max-width: 80vmin;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell-grid {
  width: 8vmin;
  height: 8vmin;
  opacity: 60%;
  border: 0.1rem solid black;
  display: block;
  background: rgba(255, 255, 255, 0.448);
}

.cell-grid:hover,
.cell-grid:focus {
  background-color: rgb(155, 153, 153);
  cursor: pointer;
}

/* game - third part */

.board__field--circle {
  position: relative;
}

.board__field--circle::before {
  content: '';
  display: block;
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #000000;
  animation: circlegrow 0.15s ease-in-out forwards;
}

@keyframes circlegrow {
  from {
    height: 0;
    width: 0;
  }

  to {
    height: 70%;
    width: 70%;
  }
}

.board__field--cross {
  position: relative;
}

.board__field--cross::before,
.board__field--cross::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 45%;
  height: 8vmin;
  width: 8vmin;
  background-color: #000000;
  animation: crossgrow 0.15s ease-in-out forwards;
}

.board__field--cross::before {
  transform: rotate(45deg);
}

.board__field--cross::after {
  transform: rotate(-45deg);
}

@keyframes crossgrow {
  from {
    height: 0%;
    width: 0px;
  }

  to {
    height: 85%;
    width: 4px;
  }
}
